.dashboard {
  overflow: scroll;
  height: calc(100vh - 60px);
  background-color: #e1e2d8;
}

.dashboard-header {
  margin: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
  height: 50px;
  padding: 10px;
}

.dashboard::-webkit-scrollbar {
  display: none;
}
