.header {
  position: sticky;
  top: 0;

  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* -webkit-box-shadow : 5px 5px 23px -20px rgba(0, 0, 0, 0.70); */
  box-shadow: 5px 10px 2px -10px rgba(0, 0, 0, 0.7);
}

.blur-on {
  margin-left: 5px;
  color: blueviolet;
  font-size: 30px !important;
}

.search {
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  height: 40px;
  flex: 0.6;
  overflow: hidden;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  color: white;
  overflow: hidden;
}

.search-container > .search-icon {
  color: gray;
  padding: 0 5px;
}

.search-container > input {
  background: none;
  border: none;
  outline-width: 0px;
  width: auto;
}

.actions {
  display: flex;
  align-items: center;
}

.actions div {
  margin-right: 10px;
}

.avatar {
  font-size: 30px;
}
