.sidebar {
  border-right: 1px solid rgb(207, 207, 205);
  height: 100vh;
  min-width: 80px;
  overflow: scroll;
  background-color: #e1e2d8;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.logo {
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo > .image {
  height: 100px;
  max-width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.logo > .image:hover {
  transform: scale(0.8);
}

.density-medium {
  width: 20px;
  margin-left: auto;
}

@media screen and (max-width: 850px) {
}
