.menu-item {
  font-size: 12px;
  font-weight: 500;
  justify-content: space-between;

  padding: 5px;
}

.menu-item:hover {
  background-color: rgb(151, 151, 151);
  transition: 0.5s ease-in-out;
}
.menu-item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item-main-name {
  display: flex;
  align-items: center;
}

.icon {
  padding: 8px;
  color: rgb(153, 170, 185);
}

.drop-down {
  margin-left: 50px;
}

.drop-down-link {
  margin-bottom: 5px;
}

a {
  color: rgb(49, 49, 49);
}

@media screen and (max-width: 650px) {
  .menu-item {
    font-size: 10px;
  }

  .menu-item-main-name div {
    display: none;
  }

  .drop-down {
    margin-left: 10px;
  }
}

.close {
  display: none;
}
